html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background: #002b36;

}

#cmd-bar {
    background: #002b36;
    height: 40px;
}

.log-panels-row {
    display: -webkit-box;
}

.log-panels ::-webkit-scrollbar {
    display: none;
}

.log-panel-container {
    width:50%;
    background:#002b36;
}

.log-panel-control {
    position: relative;
    background: #073642;
    width: 100%;
    color: #839496;
}

.log-panel {
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    height: 500px;
    padding: 0px;
    border-left: 3px solid #073642;
    border-right: 3px solid #073642;
}

.log-container {
    padding-top: 4px;
    padding-bottom: 4px;
    color: #839496;
}

.log-header-container {
    display: -webkit-inline-flex;
    font-family: 'Ubuntu Mono', monospace;
    color: #93a1a1;
}

.log-header-container > div {
    font-size: small;
}

.log-header-container > span {
    font-size: medium;
}

.log-header {
    padding-right: 8px;
    padding-left: 8px;
}

.log-data {
    font-family: 'Ubuntu Mono', monospace;
    font-size: medium;
    margin: 0px;
}

.log-panel-control-text {
    position: relative;
    /* top: 3px; */
}

.log-panel-control-input {
    width: 60px;
    background: #002b36;
    border-color: #073642;
    border-style: none;
    color: #839496;
    margin-left: 4px;
    margin-right: 4px;
}

.log-panel-control-widget {
    display: -webkit-inline-box;
    margin-left: 8px;
    margin-right: 8px;
}

.log-panel-control-replay-last {
    float: right;
}

a {
    text-decoration: none;
    margin-left: 4px;
    margin-right: 4px;
    color: #93a1a1;
}

.log-panel-filter-pop {
    position: absolute;
    display: none;
    z-index: 2;
    width: 100%;
    background-color: #073642;
}

.log-panel-control-filter-box {
    display: -webkit-flex;
}

.item {
    margin-left: 4px;
    margin-right: 4px;
}

.filter-line {
    border-color: #839496;
}

::-webkit-scrollbar {
    background: #073642;
    width: 10px;
}
::-webkit-scrollbar-button {
    background: #586e75;
    display: none;
}
::-webkit-scrollbar-track {
    border-radius: 4px;
}
::-webkit-scrollbar-track-piece {
    color: #586e75;
}
::-webkit-scrollbar-thumb {
    background: #586e75;
    border-radius: 4px;
}
